/* General */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

@media (max-width: 550px) {
  body {
    font-size: .8rem;
  }
}

h1, h2, h3, h4, button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.small-font {
  font-size: .85rem;
}

@media(max-width:550px) {
  .small-font {
    font-size: .75rem;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Containers */
.container-fluid {
  padding: 5%;
  background-color: hsl(218, 28%, 13%);
}

.top-color {
  background-color: hsl(217, 28%, 15%);
}

/* navbar */
.navbar-nav {
  flex-direction: row;
}

@media (max-width: 550px) {
  .navbar-brand {
    display: inline-block;
    width: 25%;
  }

  .logo-image {
    width: 100%;
  }
}

/* big image section */
.first-img {
  width: 60%;
}

/* Introduction */
.intro-box {
  width: 50%;
}

@media (max-width:900px) {
  .intro-box {
    width: 90%;
  }

  .intro-heading {
    font-size: 1.5rem;
  }

  .btn-lg {
    width: 85%;
  }
}

@media (max-width:390px) {
  .intro {
    background-image: url('bg-curvy-mobile.svg');
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 1%;
    padding-top: 7%;
  }
}

@media(min-width: 650px) {
  .btn-lg {
    width: 35%;
  }

  .intro {
    background-image: url('bg-curvy-desktop.svg');
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 10%;
  }
}

.intro-txt {
  width: 85%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.btn {
  border-radius: 25px;
  padding: .8rem;
  background-color: hsl(198, 60%, 50%);
}

.btn:hover {
  background-color: hsl(176, 68%, 64%);
}

/* Features */
.features-container {
  padding-bottom: 0;
}

.features {
  padding: 3% 10% 4% 10%;
}

.features-title {
  padding-top: 10%;
  font-size: 1.3rem;
}

/* Stay Productive Section */
.left {
  text-align: left;
}

#image-two {
  width: 85%;
}

.productive {
  padding: 60px 0 20px 0;
}

#arrow {
  color: hsl(176, 68%, 64%);
  display: inline-block;
}

hr {
  border-color: hsl(176, 68%, 64%);
  width: 25%;
  border-style: none;
  border-top-style: inset;
  position: relative;
  right: 38%;
  bottom: 3%;
}

/* testimonials */
.testimonials-section {
  background-image: url('bg-quotes.png');
  background-repeat: no-repeat;
  background-position: 6% 8%;
  padding: 5% 8% 5% 8%;
  background-size: 3%;
}

.testimonials-box {
  margin-bottom: 10%;
}

.testimonials {
  width: 95%;
  background-color: hsl(217, 28%, 15%);
  padding: 12% 8% 8% 8%;
}

.profile {
  width: 12%;
  border-radius: 100%;
  float: left;
  margin-right: 15px;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

.title {
  font-size: .65rem;
}

/* Call to Action */
.cta {
  background: linear-gradient(hsl(218, 28%, 13%) 60%, hsl(218, 28%, 13%) 60%, hsl(216, 53%, 9%) 60%);
}

.early-access {
  width: 65%;
  margin: 0 auto 0 auto;
  background-color: hsl(217, 28%, 15%);
  padding: 7%;
  border-radius: 21px;
}

@media (max-width:900px) {
  .early-access {
    width: 90%;
  }
}

input {
  height: 45px;
  width: 85%;
  border-radius: 21px;
  padding-left: 15px;
  margin: 5%;
}

@media (min-width:900px) {
  input {
    width: 55%;
    float: left;
    margin-top: 0;
  }
}

/* Footer */
.footer {
  background-color: hsl(216, 53%, 9%);
}

.footer-padding {
  padding-top: 8%;
}

.icons {
  display: inline-block;
  width: 25%;
  text-align: left;
}

.information {
  display: inline-block;
  width: 65%;
}

.info-list {
  line-height: 3;
}

.location {
  float: left;
  margin: 5% 8% 50% 0;
}

#logo {
  display: block;
  margin-bottom: 20%;
}

@media (max-width: 1000px) {
  #logo {
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .location {
    float: left;
    margin: 2% 8% 5% 0;
  }
}

a {
  color: white;
  line-height: 2;
}

a:hover {
  color: lightgray;
  text-decoration: none;
}

/* Info */
.attribution {
  color: hsl(218, 28%, 13%);
}
